<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl">
        <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
            <!-- Sección Horario de Atención -->
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Horario de Atención</h2>
                <div class="text-gray-500 dark:text-gray-400 font-medium">
                    <p class="mb-4">Lunes a Domingo:</p>
                    <p class="font-bold text-gray-900 dark:text-white mb-4">7:00 AM - 10:00 PM</p>
                    <p class="font-bold text-gray-900 dark:text-white flex items-center">
                        <i class="pi pi-phone mr-2"></i>  PE +51 - 937022985
                    </p>
                </div>
            </div>
            <!-- Sección Explorar -->
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Explorar 🔥</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Inicio</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Promociones</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Productos </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Nosotros</a>
                    </li>
                </ul>
            </div>
            <!-- Sección Contáctanos -->
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Contáctanos</h2>
                <div class="flex mb-6 space-x-4">
                    <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                        <i class="pi pi-facebook"></i>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                        <i class="pi pi-instagram"></i>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                        <i class="pi pi-twitter"></i>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                        <i class="pi pi-whatsapp"></i>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                        <i class="pi pi-youtube"></i>
                    </a>
                </div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Correo</h2>
                <p class="text-gray-500 dark:text-gray-400 font-medium flex items-center">
                    <i class="pi pi-envelope mr-2"></i> 12il-contact&#64;gmail.com
                </p>
            </div>
            <!-- Sección Libro de Reclamaciones -->
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Libro de Reclamaciones</h2>
                <div class="flex items-center mb-4">
                    <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white text-2xl">
                        <i class="pi pi-book"></i>
                    </a>
                </div>
                <a href="#" class="flex items-center text-gray-500 hover:text-orange-900 dark:hover:text-white">
                    <i class="pi pi-angle-double-up mr-2"></i> Ir al inicio
                </a>
            </div>
        </div>
        <!-- Barra de derechos de autor -->
        <div class="px-4 py-6 bg-gray-100 dark:bg-gray-700 md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center">© 2024 <a href="https://tuempresa.com">12IL™</a>. Todos los derechos reservados.</span>
            <div class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse">
                <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                    <i class="pi pi-facebook"></i>
                </a>
                <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                    <i class="pi pi-twitter"></i>
                </a>
                <a href="#" class="text-gray-400 hover:text-gray-900 dark:hover:text-white">
                    <i class="pi pi-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
