.banner-container {
    width: 100%;
    height: 30px;
    background-color: #e65050 ;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .banner-text {
    display: flex;
    gap: 50px;  
    animation: scroll 15s linear infinite;  
    white-space: nowrap;
  }
  
  .text {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  